.pio
.vscode
.idea
*.pyc
__pycache__/
build/
*.bin
*.elf
*.map
*.hex
*.log

# RemoteMapper-Flasher standalone flashing tools & binaries
!RemoteMapper-Flasher/bin/*.bin
!RemoteMapper-Flasher/tools/*.exe
!RemoteMapper-Flasher/tools/*.bin
!tools/boot_app0.bin
